@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<p><b>Esta aplicação foi desenvolvida integralmente para o desafio Brasilcenter como parte do Processo Seletivo.<br />Nenhum material foi reaproveitado de outros projetos.</b></p>
<h3>Características do Projeto:</h3>
<p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Criação do Projeto</dt>
        <dd>Asp.Net Core - MVC 5.0</dd>
        <dd>Scaffold com Razor e EntityFramework</dd>
        <dd>Javascript com JQuery e Bootstrap</dd>
        <dt>Sobre o Projeto</dt>
        <dd>
            O Projeto de Livraria, foi criado exclusivamente para atender o desafio da BrasilCenter.<br />
            Devido o prazo e tamanho do projeto, optei por utilizar o scaffold, que cria, com base na model, utilizando EntityFramework,<br />
            a estrutura necessaria automaticamente para CRUD (HTML com Razor e Métodos da Controller) e Infra do Banco (Context e Tabelas , keys e constraints);<br />
            <b style="color:red">Em caso de falha na conexão com banco, usar Add-Migration e Update-database no 'Console de Gerenciador de Pacote'</b>
        </dd>
    </dl>
</p>
<h3>Links usados de referência para implementação deste projeto:</h3>
<p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Sort Razor</dt>
        <dd>
            <a href="https://docs.microsoft.com/pt-br/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-3.1">Razor com o EF Core no ASP.NET Core – Classificação, filtro, paginação</a>
        </dd>
        <dt>Filtro Bootstrap</dt>
        <dd>
            <a href="https://www.w3schools.com/bootstrap/bootstrap_filters.asp">Bootstrap Filters (Advanced)</a>
        </dd>
        <dd>
            <a href="https://bootsnipp.com/snippets/8G2Q ">Panel table with filters (per column)</a>
        </dd>
        <dt>UpLoadFile</dt>
        <dd>
            <a href="https://stackoverflow.com/questions/47995415/is-possible-to-know-when-file-input-dialog-is-closing">Is possible to know when file input dialog is closing?</a>
        </dd>
        <dt>Teste Unitário</dt>
        <dd>
            <a href="https://docs.microsoft.com/pt-br/aspnet/core/mvc/controllers/testing?view=aspnetcore-3.1">Lógica do controlador de teste de unidade no ASP.NET Core</a>
        </dd>
    </dl>
</p>
