@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Ludvig Soler Aragón</strong><br />
    Analista e Desenvolvedor de Sistema Pleno<br />
    Engenheiro de Software pela Universidade Estácio de Sá<br />
</address>

<address>
    <strong>Telefone:</strong>(21) 98182-7443<br />
    <strong>E-mail:</strong> <a href="mailto:ludvigaragon@gmail.com">ludvigaragon@gmail.com</a><br />
    <strong>Linkedin</strong><a href="https://www.linkedin.com/in/ludvig-soler-arag%C3%B3n-799302153/">Perfil de Ludvig Soler Aragón</a>
</address>
